<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Personal website - Profile - Personal infomation - About Monthon Sangsinsup">
    <meta property="og:title" content="Monthon Sangsinsup" />
    <meta property="og:url" content="https://monthon.herokuapp.com/" />
    <meta property="og:description" content="Personal website - Profile - Personal infomation - About Monthon Sangsinsup">
    <meta property="og:image" content="{% static 'img/img-min/barenz-cover-min.jpg' %}">
    <meta property="og:type" content="profile" />
    <title>Monthon Sansinsup</title>

    <link rel="shortcut icon" href="{% static 'img/fav/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'img/fav/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'img/fav/favicon-192.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'img/fav/favicon-160.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/fav/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'img/fav/favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/fav/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/fav/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/fav/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/fav/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/fav/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/fav/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/fav/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/fav/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/favicon-180.png' %}">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'img/fav/favicon-144.png' %}">
    <meta name="msapplication-config" content="{% static 'img/fav/browserconfig.xml' %}">

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/background-effect.js' %}"></script>
</body>
</html>